{% extends "layout.html" %}
{% block content %}

	<div id="content">
        <h1>"Major Track" Courses</h1>
	<form action="#" method="post">
          <div class="form_settings">
	<p><span>Select Completed Courses: </span><select multiple><option value="1">110</option><option value="2">125</option><option value="3">220</option><option value="4">230</option><option value="5">330</option><option value="6">370</option><option value="7">410</option><option value="8">326</option><option value="9">430</option><option value="10">405</option><option value="11">310</option><option value="12">305</option><option value="13">350</option><option value="14">401</option> </select></p>	
	<p><span>Select Courses For Upcoming Semester: </span><select multiple><option value="1">110</option><option value="2">125</option><option value="3">220</option><option value="4">230</option><option value="5">330</option><option value="6">370</option><option value="7">410</option><option value="8">326</option><option value="9">430</option><option value="10">405</option><option value="11">310</option><option value="12">305</option><option value="13">350</option><option value="14">401</option> </select></p>
	  </div>
        </form>
	</div>


{% endblock %}
