{% extends "layout.html" %}
{% block content %}

      <div id="content">
        <!-- insert the page content here -->
        <h1>CPSC Student Advising Form</h1>

	<form action="/process" method="post" name ='inputform'>
          <div class="form_settings">
            <p><span>Enter Full Name: </span><input type="text" name="name" value="" /></p>
	         
            <p><span>Enter Student ID: </span><input type="text" name="name" value="" /></p>
	         
            <p><span>Enter Expected Graduation Year: </span><input type="text" name="name" value="" /></p>
	         
            <p><span>Select Advisor: </span><select id="id" name="name"><option value="0"> </option>
            <option value="1">Stephen Davies</option>
            <option value="2">Jennifer Polack</option>
            <option value="3">Ron Zacharski</option>
            <option value="4">Karen Anewalt</option>
            <option value="5">Ian Finlayson</option></select></p>
            
            <p> Select Completed Courses: </p>
            {% for i in class_name %}
            <p>{{i.name.tagline}}<input type="checkbox" name="ischecked" value ={{i.name.tagline}}</p> 
  
            {% endfor %}
            
            
            <p><span>Select Courses For Upcoming Semester: </span></p>
            
            
            <p style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" name="name" value="Submit Form" /></p>
            
            
          </div>
        </form>
        
   
 
      
{% endblock %}
