<!DOCTYPE HTML>
<html>

<head>
  <title>CPSC Advising</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" title="style" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="index.html">CPSC<span class="logo_colour">Advising</span></a></h1>
          <h2>UMW Computer Science Department</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li class="selected"><a href="/">Home</a></li>
          <li><a href="http://cas.umw.edu/computerscience/requirements/">Majors</a></li>
          <li><a href="http://cas.umw.edu/computerscience/course-offerings/">Courses Offered</a></li>
          <li><a href="http://cas.umw.edu/computerscience/meet-the-faculty/">Department Members</a></li>
          <li><a href="contact.html">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <div id="site_content">
      <div class="sidebar">
        <!-- insert your sidebar items here -->
        
  
      </div>
      <div id="content">
       {%block content %}
        {% endblock %}
    <br><br><br><br><br><br><br><br><br><br>
      </div>
    <div id="footer">
      <div id ='adminbutton'>
        <a href = "/adminlogin">ADMIN </a>
      </div>
    </div>
  </div>
</body>
</html>
