
<!DOCTYPE HTML>
<html>

<head>
  <title>CPSC Advising</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="style/style.css" title="style" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="index.html">CPSC<span class="logo_colour">Advising</span></a></h1>
          <h2>UMW Computer Science Department</h2>
        </div>
      </div>
      <div id="menubar">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
      </div>
    </div>
    <div id="site_content">
      <div id="content">
        <!-- insert the page content here -->
        <h1>Login</h1>
        <form action="#" method="post">
          <div class="form_settings">
        <p><span>Enter Firstname: </span><input type="text" name="firstname"></p>
	<p><span>Enter Lastname: </span><input type="text" name="lastname"></p>
	<p><span>Select Year: </span><select id="id" name="year"><option value="0"> </option><option value="1">2015</option><option value="2">2016</option><option value="3">2017</option></select></p>
	<p><span>Select Term: </span><select id="id" name="term"><option value="0"> </option><option value="1">Fall</option><option value="2">Spring</option><option value="3">Summer</option></select></p>
	<p><span>Select Track: </span><select id="id" name="track"><option value="0"> </option><option value="1">Traditional</option><option value="2">CIS</option><option value="3">GIS</option></select></p>
	<p><span>Select Student Advisor (optional): </span><select id="id" name="advisor"><option value="0"> </option><option value="1">Stephen Davies</option><option value="2">Jennifer Polack</option><option value="3">Ron Zacharski</option><option value="4">Karen Anewalt</option><option value="5">Ian Finlayson</option></select></p>
        <p style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" name="submit" value="Submit" /></p>
	<p style="padding-top: 25px"><span>&nbsp;</span><input class="submit" type="submit" name="returning" value="Returning Student" /></p>
        </div>
    </form>
      </div>
    </div>
    <div id="footer">
      Copyright &copy; textured_blue | <a href="http://validator.w3.org/check?uri=referer">HTML5</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | <a href="http://www.html5webtemplates.co.uk">Free CSS Templates</a>
    </div>
  </div>
</body>
</html>
